@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

table {
    border-collapse: collapse;
    text-align: center;
  
    
    
  }
  
  td, th ,tr {
    border: 1px solid #ccc;
    padding: 5px 10px;
    color: #933c9e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  tr:nth-child(1) {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #4CAF50;
    color: rgb(250, 245, 245);
  }

  tr:nth-child(2n+2) {

    background-color: #e3e7e7;
  }

  tr:hover {
      background-color: rgb(226, 180, 180);

  }

  h1{
color:#ca8a8b;
font-family: 'Open Sans', sans-serif;

  }
  .welcome{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  a{
      text-decoration: none;
      margin-left: 10px;

      
  }
  div.slides {
    width: 640px;
    height: 480px;
    font-size: 0;
}

nav a:nth-child(1) {
  
  position: relative;
  left: 700px;
}


nav a:nth-child(2) {
  
  position: relative;
  left: 720px;
}



#branchForm{

  font-family:Georgia;
}

.class{
  font-family:Georgia;

}
button{
  font-family:Georgia;

}

main h2 {
  font-family: 'Zen Dots', cursive;
  color: black;

}


main h3 {

  font-family: 'Zen Dots', cursive;
  color: black;
}

main li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #14ad1b;
}

.container{

  background-color: #edffa9;
}

